.vs/WindowsForms3_word-guessingGame/v15/.suo
.vs/WindowsForms3_word-guessingGame/v15/Server/sqlite3/storage.ide
.vs/WindowsForms3_word-guessingGame/v15/Server/sqlite3/storage.ide-shm
.vs/WindowsForms3_word-guessingGame/v15/Server/sqlite3/storage.ide-wal


